.background {
  margin: 5% 0;
  position: absolute;
  /* background-color: orange; */
  width: 50%;
  height: 800px;
  left: 10%;
  text-align: center;
  justify-content: center;
  padding: 5%;
  vertical-align: middle;
  /* background-color: red; */
}

.content {
  position: relative;
  top: -610px;
  left: 50px;
}

@media screen and (max-width: 1200px) {
  .background {
    display: none;
  }
  .content {
    display: none;
  }
}
